*{
  padding: 0;
  margin: 0;
}
li{list-style: none;}
a{text-decoration: none;}
img{border: none;vertical-align: top;}
input,textarea{outline: none;}
textarea{resize:none;overflow: auto;}
.clear {
  zoom: 1;
}
.clear:after {
  content: "";
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
}
html,body{
  width: 100%;
  height: 100%;
}
html{
  font-family: 'monaco', 'PingFang', 'Source Sans Pro', -apple-system, 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
}
body{
  background: url(../assets/math0.png) fixed top left;
  // background-repeat: no-repeat;
  // background-size: 100% 100%;
  position: relative;
}
body::after{
  content: '';
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba($color: #ebebeb, $alpha: 0.9);
  z-index: -1;
}
.container{
  padding-top: 60px;
}
.page-container{
  width: 90%;
  min-height: calc(100vh - 80px);
  margin: 0 auto;
  margin-top: 20px;
  @media screen and (max-width: 1200px) {
    width: auto;
    padding: 0 40px;
  }
}
.nav-btn{
  position: fixed;
  top: 10%;
  left: 5%;
  width: 50px;
}
.page-list{
  position: relative;
  width: 850px;
  min-height: calc(100vh - 180px);
  margin-top: 20px;
  margin-left: 80px;
  padding-bottom: 100px;
}
.article-pagigation{
  text-align: center;
  position: absolute;
  bottom: 50px;
  left: 0;
  width: 100%;
}
// .page-left{
//   float: left;
//   width: 19%;
//   overflow: hidden;
// }
// .page-right{
//   float: right;
//   width: 19%;
// }
// .page-middle{
//   width: 50%;
//   margin-left: 25%;
//   height: 100px;
//   // background: #cccccc;
// }

.nav-btn-list{
  width: 50px;
  height: 50px;
  line-height: 50px;
  background: #ffffff;
  border-radius: 50%;
  margin-bottom: 10px;
  text-align: center;
  color: #409EFF;
  cursor: pointer;
  transition: .5s;
}
.nav-btn-list:hover{
  background: #409EFF;
  color: #ffffff;
}
.iconfont{
  margin-right: 5px;
}

// 默认主题
.default-theme_color{
  color: #409EFF;
}

/*声明 WebFont*/
@font-face {
  font-family: 'monaco';
  src: url('../assets/fonts/monaco.ttf') format('truetype');
  // src:
  //   url('../assets/fonts/monaco.eot?#font-spider') format('embedded-opentype'),
  //   url('../assets/fonts/monaco.woff') format('woff'),
  //   url('../assets/fonts/monaco.ttf') format('truetype'),
  //   url('../assets/fonts/monaco.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PingFang';
  src: url('../assets/fonts/PingFangLight.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

// md语法code解析
.code-pre{
  position: relative;
  margin: 10px 0;
  width: 100%;
  background: rgba($color: #ebebeb, $alpha: 0.5);
  overflow: hidden;
  code{
    float: left;
    width: 93%;
    margin-left: 6%;
    overflow: auto;
    line-height: 20px;
  }
  code::-webkit-scrollbar{
    // width: 6px;
    height: 6px;
    // background: #409EFF;
  }
  code::-webkit-scrollbar-thumb{
    border-radius: 6px;
    background: #ebebeb;
  }
}
.code-lines{
  position: absolute;
  left: 0;
  padding-bottom: 6px;
  width: 5%;
  background: rgba($color: #ebebeb, $alpha: 1);
  // top: 2.8em;
  // margin: 0;
  // padding: 1em 0;
  // width: 2.5em;
  // height: calc(100% - 2.8em);
  // text-align: center;
  // background-color: rgba(0,0,0,.2);
  .code-line-number{
    padding-top: 3.5px;
    // width: 30px;
    text-align: center;
  }
}
